<div class="flex">
    <img width="1080" class="h-1/2 left-0 top-0" src="/assets/images/femalehomepage.jpg"  alt="HomePage"/>
    <img class="flex justify-end w-1/3" width="650"  src="/assets/images/excuses.jpg"  alt="NoExuses"/>
    </div>
    
    <div class="flex pb-8 ml-8">
        <img  src="/assets/images/fitlogo.png"  alt="FitLogo"/>
        <h1 class="font-extrabold text-lg">În sala FitMaker, nu ridici doar greutăți, <br> ridici limitele tale. Fiecare picătură de transpirație <br> redefinește potențialul tău,
        fiecare repetiție <br> sculptează un tine mai puternic.</h1>
    </div>
    
    <div class="mb-6">
        <p class="font-bold text-2xl text-red-600 bg-black w-1/4 ml-14 rounded-xl"><a [routerLink]="['/abonamente']">=>FĂ-ȚI UN ABONAMENT ACUM!</a></p>
    </div>
    <div (click)="logout()">logout</div>
    