<div class="text-red-500 items-center justify-center flex font-extrabold mt-4 text-3xl font-serif">ADMIN MODE</div>
<div class="text-red-500 items-center justify-center flex font-extrabold mt-2 text-2xl font-serif">Management</div>

<div class="text-black items-center justify-center flex mt-16 text-xl font-bold">Conturi utilizatori</div>
<div class="flex justify-center mt-2">
    <input type="text" placeholder="Caută un utilizator"
        class="w-80 bg-gray-800 text-white px-4 py-2 rounded-md outline-none focus:outline-none border border-gray-700" />
</div>

<div class="flex justify-center mt-4">
    <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-2 rounded"
        [routerLink]="['/register']">CREAZĂ CONT</button>
</div>

<div class="flex justify-center mt-4">
    <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-2 rounded"
        (click)="setOnAction('update')">ACTUALIZEAZĂ CONT</button>
</div>

<div class="flex justify-center mt-4">
    <button (click)="setOnAction('delete')"
        class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-2 rounded">ȘTERGE
        CONT</button>
</div>


<div class="flex justify-center mt-12 mb-8">
    <table class="table-auto">
        <thead class="bg-gray-500">
            <tr>
                <th class="px-4 py-2">NUME ȘI PRENUME</th>
                <th class="px-4 py-2">EMAIL</th>
                <th class="px-4 py-2">ABONAMENT</th>
                <th *ngIf="action" class="px-4 py-2">ACTIUNI</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of usersList" class="bg-black text-white">
                <td class="px-4 py-2">{{ item.name }}</td>
                <td class="px-4 py-2">{{ item.email }}</td>
                <td class="px-4 py-2">{{ item.idsubscription }}</td>
                <td *ngIf="action" (click)="onAction(action, item)" class="px-4 py-2">{{ action }}</td>
            </tr>
        </tbody>
    </table>
</div>