<div class="text-red-500 items-center justify-center flex font-extrabold mt-4 text-3xl font-serif">ADMIN MODE</div>
<div class="text-red-500 items-center justify-center flex font-extrabold mt-2 text-2xl font-serif">Management</div>

<div class="text-black items-center justify-center flex mt-16 text-xl font-bold">Conturi utilizatori</div>
<div class="flex justify-center mt-2">
    <input type="text" placeholder="Caută un utilizator" class="w-80 bg-gray-800 text-white px-4 py-2 rounded-md outline-none focus:outline-none border border-gray-700" />
</div>

<div class="flex justify-center mt-4">
    <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-2 rounded"
     [routerLink]="['/register']">CREAZĂ CONT</button>
</div>

<div class="flex justify-center mt-4">
    <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-2 rounded"
     routerLink='/actualizeazacont'>ACTUALIZEAZĂ CONT</button>
</div>

<div class="flex justify-center mt-4">
    <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-2 rounded"
     routerLink='/stergerecont'>ȘTERGE CONT</button>
</div>


<div class="flex justify-center mt-12 mb-8">
    <table class="table-auto">
        <thead class="bg-gray-500">
            <tr>
                <th class="px-4 py-2">NUME ȘI PRENUME</th>
                <th class="px-4 py-2">EMAIL</th>
                <th class="px-4 py-2">ABONAMENT</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-black text-white">
                <td class="px-4 py-2">Ioana Pop</td>
                <td class="px-4 py-2">ioanapop23&#64;gmail.com</td>
                <td class="px-4 py-2">3 luni</td>
            </tr>
            <tr class="bg-black text-white">
                <td class="px-4 py-2">Alex Șerban</td>
                <td class="px-4 py-2">alexserban023&#64;gmail.com</td>
                <td class="px-4 py-2">1 lună</td>
            </tr>
            <tr class="bg-black text-white">
                <td class="px-4 py-2">Cristi Ionescu</td>
                <td class="px-4 py-2">cristiionescu40&#64;gmail.com</td>
                <td class="px-4 py-2">3 luni</td>
            </tr>
            <tr class="bg-black text-white">
                <td class="px-4 py-2">Florina Anghel</td>
                <td class="px-4 py-2">florinaanghel02&#64;gmail.com</td>
                <td class="px-4 py-2">1 lună</td>
            </tr>
            <tr class="bg-black text-white">
                <td class="px-4 py-2">Roxana Podină</td>
                <td class="px-4 py-2">roxanapodina2022&#64;gmail.com</td>
                <td class="px-4 py-2">1 an</td>
            </tr>
            <tr class="bg-black text-white">
                <td class="px-4 py-2">Petre Stoianu</td>
                <td class="px-4 py-2">petretioanu55&#64;gmail.com</td>
                <td class="px-4 py-2">3 luni</td>
            </tr>
        </tbody>
    </table>
</div>


