<div class="bg-redwallpaper bg-repeat h-full" *ngIf="!isAlreadyPurchased">
  <div
    class="text-red-500 items-center justify-center flex font-extrabold text-3xl font-serif"
  >
    ABONAMENTE
  </div>
  <div
    *ngFor="let subscription of subscriptionList"
    class="bg-black mt-8 xl:p-14 md:p-20 md:mx-42 xl:ml-96 xl:mr-96 relative"
  >
    <img
      class="flex"
      width="210"
      height="180"
      src="/assets/images/fitmakerlogo.png"
      alt="fitmakerlogo"
    />
    <div class="text-xl font-extrabold text-white ml-4 font-serif">
      ABONMANET
    </div>
    <div class="text-xl font-medium italic text-white ml-20">
      {{subscription?.period}}
    </div>
    <div class="absolute top-0 right-0 mr-32 mt-16 font-bold italic text-xl">
      <div class="flex items-end justify-end text-white">
        Normal: {{subscription.price}} {{subscription.currency}}
      </div>
      <a
        class="font-bold text-2xl text-red-600 mt-4 cursor-pointer"
        [routerLink]="['/cumparareabonament', subscription.id]"
        >=>CUMPĂRĂ ACUM!</a
      >
    </div>
  </div>
</div>

<div
  *ngIf="isAlreadyPurchased"
  class="bg-redwallpaper flex h-screen justify-center items-center"
>
  <div class="text-black text-center bg-red-500 rounded-lg p-8 shadow-lg">
    <p class="text-2xl font-bold mb-4">Deja ai un abonament achiziționat!</p>
    <button
      class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg"
      [routerLink]="['/contulmeu']"
    >
      Vezi abonamentul
    </button>
  </div>
</div>
