<br>
<span class="font-bold ml-16 mt-4 mb-8 text-2xl text-black">DESPRE FITMAKER</span>
<div class="flex items-center justify-center mb-8">
    <img  src="/assets/images/despre1.png"/>
</div>
<span class="font-semibold text-lg text-black ml-16 mt-8">Bine ai venit la "FitMaker"!</span>
<p class="ml-16 font-serif">Locul unde transformăm fiecare antrenament într-o capodoperă a 
    fitness-ului! Suntem mândri să îți oferim o experiență unică într-o sală de fitness concepută pentru a-ți stimula trupul și mintea. La FitMaker, credem că fitness-ul nu este doar despre antrenamente, ci și despre a-ți descoperi puterea interioară, a-ți depăși limitele și a-ți atinge obiectivele.
</p>
<br>
<p class="ml-16 font-serif">Cu echipamente de ultimă generație și un mediu modern,
     "FitMaker" este locul ideal pentru a-ți contura corpul dorit și a-ți îmbunătăți starea de sănătate generală. Instruitorii noștri certificați sunt aici pentru a-ți oferi sprijinul necesar și a-ți personaliza programul de antrenament în funcție de obiectivele tale individuale.</p>
<br>
<p class="ml-16 font-serif">
    Indiferent dacă ești un începător entuziast sau un atlet experimentat, la "FitMaker" vei găsi clase variate, de la antrenamente intense până la opțiuni mai relaxante, precum și programe specializate pentru a satisface nevoile diverse ale comunității noastre. Suntem dedicați să-ți oferim nu doar o sală de fitness, ci și o comunitate motivată și prietenoasă care să te inspire să
     atingi și să depășești obiectivele tale de fitness.</p>
<br>
<p class="ml-16 font-serif">Alătură-te nouă la "FitMaker" și începe călătoria ta spre un trup sănătos, 
    o minte puternică și un stil de viață echilibrat. FitMaker - unde fiecare antrenament 
    devine o capodoperă a transformării personale!</p>

<br>
<span class="font-semibold ml-16">FACILITĂȚI</span>
<div class="ml-16 flex flex-row gap-x-16 font-medium">
    <div class="mt-4">
        <li>Sala de 450 m²</li>
        <li>5 dusuri</li>
        <li>2 vestiare separate</li>
        <li>Vestiare cu lockere</li>
    </div>
    <div class="mt-4">
        <li>25 locuri parcare</li>
        <li>Miros placut</li>
        <li>Aparate Premium</li>
        <li>Aer Conditionat</li>
    </div>
    <div class="mt-4">
        <li>Antrenor Personal</li>
        <li>Prosoape de inchiriat</li>
        <li>Produse de nutriție</li>
        <li>Abonamente Digitale</li>
    </div>
</div>
<div class="p-72 relative bg-black ml-16 mr-16 mt-12 mb-8">
<div class="flex items-center justify-center absolute inset-x-5 top-2">
<img src="/assets/images/fitmakerlogo.png"/>
</div>
<img class="absolute left-0 top-4 mt-12 ml-4 w-1/2" src="/assets/images/despre5.jpg"/>
<img class="absolute bottom-0 right-0 mt-12 mb-3 mr-4" src="/assets/images/despre3.png"/>
<img class="absolute top-4 right-0 mr-16 mt-8" src="/assets/images/despre4.png"/>
<div class="absolute bottom-8 left-0">
    <p class="font-extrabold text-2xl bg-white text-red-600 ml-16 rounded-xl"><a [routerLink]="['/abonamente']">=>FĂ-ȚI UN ABONAMENT ACUM!</a></p>
</div>
</div>
<span class="font-bold ml-16 mb-8 text-2xl text-black">FAQ</span>
<div class="font-semibold text-black ml-16 mb-6">
<p>Care este programul de funcționare al sălii?</p>
<p>Programul de funcționare a sălii este non-stop.</p>
<br>
<p>Ce programe de antrenament oferiți pentru începători?</p>
<p>Avem programe special concepute pentru începători, iar instruitorii noștri sunt aici pentru a oferi sprijin antrenamentelor în funcție de nivelul tău de fitness și obiectivele tale.</p>
<br>
<p>Ce echipamente de fitness aveți și cât de noi sunt acestea?</p>
<p>Suntem echipați cu echipamente de ultimă generație pentru a-ți oferi o experiență de antrenament de înaltă calitate. Facem actualizări constante pentru a menține standardele noastre ridicate.</p>
<br>
<p>Există instruitori personali disponibili și cum pot beneficia de serviciile lor?</p>
<p>Da, oferim servicii de instruire personală. Poți programa o ședință de evaluare cu unul dintre instruitorii noștri pentru a discuta despre obiectivele tale și a stabili un plan de antrenament personalizat.</p>
</div>
<router-outlet></router-outlet>
